body{
    background-color: rgb(179, 179, 179);
}
.box1,.box2{
    display: inline-block;
    margin-left: 20px;
}
.box1{
    width: 25rem;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 150px;
}
.box2{
    margin-left: 100px;
    margin-top: -100px;
    width: 20rem;
}
.text{
    font-size: 30px;
    color: brown;

}
Button{
    margin-top: 10px;
}
